<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page in HTML with CSS Code Example</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">
<style>
	body {
		background-image: url('https://png.pngtree.com/background/20210710/original/pngtree-pink-petal-beauty-skincare-shop-home-background-picture-image_1058754.jpg');
  		background-repeat: no-repeat;
 	 	background-attachment: fixed;
  		background-size: cover;
	}

	p {
		font-size: 24px;
	  }
</style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1><b>Plant a Plant.</b></h1>
		<span>
			<p><b>Login with social media</b></p>
			<a href="www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
		</span>
		</div>
	</div>
	
	
		<div class="right">
		<h2>Login</h2>
		<p><b>Don't have an account?</b></p>
		<p><b><a href="signup">Create Your Account</a> it takes less than a minute</b></p>
		<div class="inputs">
			<input type="text" placeholder="user name" size="50">

			<br><br>

			<input type="password" placeholder="password" size="50">
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
				<!-- Angular -->
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>forget password?</p>
		</div>
			
			<br>
			<button><b><a href="main">Login</a></b></button>
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
